body,
html {
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
    justify-content: center;
}

#nav {
    top: -300px;
    position: fixed;
    width: 100%;
    background-color: #CDF0EA;
    display: block;
    transition: 0.4s;
    box-shadow: 2px 2px 4px #212227;
    z-index: 99;
}

.nav-item:first-child{
    float: left;
}

.nav-item {
    padding: 22px;
    float: right;
    color: #212227;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

#nav a:hover {
    color: #1B4B43;
}

#nav a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #BEAEE2;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

#nav a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

#about-me {
    min-height: 100vh;
    background-color: #F5F5F5;
    color: #212227;
    text-align: left;
    justify-content: center;
    flex-direction: column;
    padding: 3%;
}

#about-me-image .img {
    width: 300px;
    height: 300px;
    box-shadow: 10px 10px #e0e0e0;
    border-radius: 5px;
    margin: 20px;
}

#about-me-content {
    width: 75%;
    padding: 5%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #212227;
}