body,
html {
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
    font-family: 'Nunito Sans', sans-serif;
}

#nav {
    top: -300px;
    position: fixed;
    width: 100%;
    background-color: #CDF0EA;
    display: block;
    transition: 0.4s;
    box-shadow: 2px 2px 4px #212227;
}

.nav-item:first-child {
    float: left;
}

.nav-item {
    padding: 22px;
    float: right;
    color: #212227;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

#nav a:hover {
    color: #1B4B43;
}

#nav a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #BEAEE2;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

#nav a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

img {
    box-shadow: 5px 5px #e0e0e0;
    border-radius: 5px;
    margin: 20px;
}

#page-content {
    width: 100%;
}

#intro {
    background-color: #8aa29e;
    display: flex;
    height: 100vh;
    color: #212227;
    text-align: left;
    justify-content: center;
    animation-name: intro-background;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

#intro h1 {
    padding-left: 5%;
    max-width: 100%;
    font-size: 50px;
}

#intro h2 {
    padding-left: 5%;
    font-size: 30px;
}

@keyframes intro-background {
    0% {
        background-color: #FFADAD;
    }

    10% {
        background-color: #FFD6A5;
    }

    20% {
        background-origin: #FDFFB6;
    }

    30% {
        background-color: #CAFFBF;
    }

    40% {
        background-color: #9BF6FF;
    }

    50% {
        background-color: #A0C4FF;
    }

    60% {
        background-color: #BDB2FF;
    }

    70% {
        background-color: #FFC6FF;
    }

    80% {
        background-color: #FFE3FE;
    }

    90% {
        background-color: #FFFFFC;
    }

    100% {
        background-color: #FFADAD;
    }
}

.arrow {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrow a {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #212227;
    border-right: 5px solid #212227;
    transform: rotate(45deg);
    margin: -10px;
    animation: arrow-animate 2s infinite;
}

.arrow a:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow a:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes arrow-animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

#about-me {
    padding: 20px;
    background-color: #F9F9F9;
    justify-content: center;
    height: 100vh;
}

#education {
    background-color: #F7DBF0;
}

#projects {
    background-color: #BEAEE2;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}